html {
	overflow: hidden;
}

body {
	position: fixed;
	top: 0;
	width: 62%;
	height: 100%;
	overflow: auto;
}

.comments_wrap {
	position: fixed;
	top: 0;
	right: 0;
	width: 38%;
	height: 100%;
	overflow: auto;
}