<header class="site_header" id="page_header">
  <div class="header_wrap wrap">
    <a href="http://stephband.info" title="stephband" rel="index">
    	<h1 class="logo_thumb thumb">stephband.info</h1>
    </a>
    
    <ul class="horizontal site_nav_index nav_index index">
      <!--li><a href="http://stephband.info" class="nav_tab_button tab_button button">blog</a></li
     ><li><a href="http://webdev.stephband.info" class="nav_tab_button tab_button button">webdev</a></li
     --><li><a href="http://twitter.com/stephband" class="twitter_button button" rel="external">Twitter</a></li>
    </ul>
  </div>
</header>