:root {
    /**
    --button-font-size
    **/
    --button-font-size: 0.88888889em;

    /**
    --button-height
    **/
    --button-height: 2.8125em;

    /**
    --button-line-height
    **/
    --button-line-height: 1.5rem;

    /**
    --button-color
    **/
    --button-color: black;

    /**
    --button-background
    **/
    --button-background: white;

    /**
    --button-border-color
    **/
    --button-border-color: transparent;

    /**
    --button-border-width
    **/
    --button-border-width: 0.0625rem;

    /**
    --button-border-radius
    **/
    --button-border-radius: 0.3125rem;

    /**
    --button-padding-left
    **/
    --button-padding-left: 0.5625em;

    /**
    --button-padding-right
    **/
    --button-padding-right: var(--button-padding-left);
}