
/* */

.panel-block {
    /* Vertical padding adapts with width. */
    padding-top: 12.5%;
    padding-bottom: 6.25%;
    padding-left: var(--column-gap);
    padding-right: var(--column-gap);
    row-gap: 0;
    grid-auto-rows: min-content;
    --column-gap: 1em;
}

.panel-block > .bandcamp-iframe {
    grid-column-end: span 3;
    width: 100%;
    height: 20em;
    margin: 0;
    margin-top: 2em;
}

.end-panel-block {
    padding-top: 6.25%;
    padding-bottom: 12.5%;
    align-content: end;
}

.center-panel-block {
    padding-bottom: 12.5%;
    align-content: center;
}

@media(min-width: 30em) {
    .panel-block {
        padding-left: calc(11.11111111% + 0.5 * var(--column-gap));
        padding-right: calc(22.22222222% + 0.5 * var(--column-gap));
    }

    .panel-block.\@1-7x-grid {
        padding-right: calc(11.11111111% + 0.5 * var(--column-gap));
    }
}

@media(min-width: 45em) {
    .panel-block > .bandcamp-iframe {
        position: absolute;
        right: -1px;
        top: -1px;
        bottom: -1px;
        border: 0;
        width: calc(33.33333333% + 1px);
        height: calc(100% + 2px);
        margin: 0;
    }
}

.logo-svg + div {
    margin-top: 2.25em;
}



/*
@media(min-width: 45em) {
    .s-panel-block {
        width: 50vw;
        min-height: 28.125vw;
        padding-top: 6.25vw;
        padding-bottom: 3.125vw;
        grid-column-end: span 3;
    }
}

@media(min-width: 60em) {
    .s-panel-block {
        width: 33.33333333vw;
        min-height: 18.75vw;
        padding-top: 4.16666667vw;
        padding-bottom: 2.08333333vw;
        grid-column-end: span 2;
    }

    .m60-panel-block {
        width: 50vw;
        min-height: 28.125vw;
        padding-top: 6.25vw;
        padding-bottom: 3.125vw;
        grid-column-end: span 3;
    }

    .l-panel-block {
        width: 66.66666667vw;
        min-height: 37.5vw;
        padding-top: 8.33333333vw;
        padding-bottom: 4.16666667vw;
        grid-column-end: span 4;
        grid-row-end: span 2;
    }
}

@media(min-width: 90em) {
    .s90-panel-block {
        width: 33.33333333vw;
        min-height: 18.75vw;
        padding-top: 4.16666667vw;
        padding-bottom: 2.08333333vw;
        grid-column-end: span 2;
    }

    .m90-panel-block {
        width: 50vw;
        min-height: 28.125vw;
        padding-top: 6.25vw;
        padding-bottom: 3.125vw;
        grid-column-end: span 3;
    }

    .l90-panel-block {
        width: 66.66666667vw;
        min-height: 37.5vw;
        padding-top: 8.33333333vw;
        padding-bottom: 4.16666667vw;
        grid-column-end: span 4;
    }
}*/
