
:root {
    color: #bfb7a9;
    background-color: #141B1E;
}

body.grid {
    --x-gap: 1.6em;

    align-content: start;
    padding: var(--x-gap);
    column-gap: var(--x-gap);;
    row-gap: calc(3 * var(--x-gap));
}
