.tracks-list > li {
    line-height: 1.875rem;
}

.tracks-list > li > audio::-webkit-media-controls-panel {
    transition: background-color 0.9s cubic-bezier(0.15, 0, 0.15, 1);
}

.tracks-list > li.playing > audio::-webkit-media-controls-panel {
    background-color: #70d1ff;
    transition: background-color 0.12s linear;
}

.tracks-list > li > audio,
.tracks-list > li > a {
    display: block;
}

.tracks-list > li > audio {
    width: calc(100% + 1.75rem);
    height: 1.875rem;
    margin-left: -0.875rem;
    margin-right: -0.875rem;
    /*background-color: #eeeeee;*/
    border-radius: 0.9375rem;
}

.tracks-list > li > a {
    color: #444444;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    border-radius: 0.375rem;
    line-height: inherit;
}

.tracks-list > li > a:hover,
.tracks-list > li > a:focus {
    color: rgb(2, 140, 99);
}

.tracks-list > li > a:hover > small,
.tracks-list > li > a:focus > small{
    color: rgb(94, 153, 135);
}

.tracks-list > li > a > small {
    color: #999999;
}

.tracks-list > li + li {
    margin-top: 0.1875rem;
}

.doctext-03 + .tracks-list,
.doctext-04 + .tracks-list {
    margin-top: 0.375rem;
}

.tracks-list + .doctext-03,
.tracks-list + .doctext-04 {
    margin-top: 1.5rem;
}

@media (min-width: 32em) {
    body.docs-grid {
        padding-left: var(--x-gap);
        padding-right: var(--x-gap);
    }

    .tracks-list > li {
        display: grid;
        grid-template-columns: 15rem 1fr;
        justify-content: stretch;
        align-content: center;
        column-gap: 0.375rem;
        background-color: #ececec;
        border-radius: 0.9375rem;
        width: calc(100% + 1.75rem);
        margin-left: -0.875rem;
        margin-right: -0.875rem;
        padding-right: 0.875rem;
        transition: background-color 0.9s cubic-bezier(0.15, 0, 0.15, 1);
    }

    .tracks-list > li > audio::-webkit-media-controls-panel {
        background-color: #ececec;
    }

    .tracks-list > li:nth-child(2n) {
        background-color: #f5f5f5;
    }

    .tracks-list > li:nth-child(2n) > audio::-webkit-media-controls-panel {
        background-color: #f6f6f6;
    }

    .tracks-list > li.playing {
        background-color: #70d1ff;
        transition: background-color 0.12s linear;
    }

    .tracks-list > li.playing > audio::-webkit-media-controls-panel {
        background-color: #70d1ff;
        transition: background-color 0.12s linear;
    }

    .tracks-list > li.playing > a > small {
        color: inherit;
    }

    .tracks-list > li > audio,
    .tracks-list > li > a {
        grid-row: 1;
    }

    .tracks-list > li > audio {
        width: 100%;
        align-self: center;
        justify-self: stretch;
        grid-column: 1;
        margin-left: 0;
        margin-right: 0;
    }

    .tracks-list > li > a {
        min-height: 1.875rem;
        /* For some reason its 31px, and we have to force it to be 30px */
        height: 1.875rem;
        padding-top: 0.1875rem;
        padding-bottom: 0.125rem;
        line-height: 1.5625rem;
        border-width: 0;
        align-self: stretch;
        justify-self: start;
        grid-column: 2;
    }

    .tracks-list > li + li {
        margin-top: 0.0625rem;
    }
}

audio::-webkit-media-controls-panel {
    background-color: #779AAB;
    /*border-radius: 0.375rem;
    padding-left: 0.125rem;
    padding-right: 0.125rem;*/
}

audio::-webkit-media-controls-play-button                   { }
audio::-webkit-media-controls-timeline-container            { }
audio::-webkit-media-controls-current-time-display          { }
audio::-webkit-media-controls-time-remaining-display        { display: none; }
audio::-webkit-media-controls-timeline                      { }
audio::-webkit-media-controls-mute-button                   { }
audio::-webkit-media-controls-volume-slider-container       { }
audio::-webkit-media-controls-volume-slider                 { }
audio::-webkit-media-controls-seek-back-button              { display: none; }
audio::-webkit-media-controls-seek-forward-button           { display: none; }
audio::-webkit-media-controls-fullscreen-button             { display: none; }
audio::-webkit-media-controls-rewind-button                 { display: none; }
audio::-webkit-media-controls-return-to-realtime-button     { display: none; }
audio::-webkit-media-controls-toggle-closed-captions-button { display: none; }
