---
layout: template
---
	<link rel="stylesheet" type="text/css" href="/css/site.layout.css" />
	<link rel="stylesheet" type="text/css" href="/css/photos.layout.css" />
	<link rel="stylesheet" type="text/css" href="/css/disqus.layout.css" />
	<link rel="stylesheet" type="text/css" href="/css/syntax.css" />

	{% include header.html %}

	{{ content }}

	<script>
		var disqus_url = 'http://stephband.info{{ page.url }}',
		    disqus_identifier = 'http://stephband.info{{ page.url }}',
		    disqus_shortname = 'stephband';
	</script>