---
layout: template
---
  <link rel="stylesheet" type="text/css" href="/css/site.layout.css" />
  <link rel="stylesheet" type="text/css" href="/css/disqus.layout.css" />
  <link rel="stylesheet" type="text/css" href="/css/photos.layout.css" />
  
  <header class="site_header_panel header_panel panel" id="page_header">
    <div class="site_header_wrap header_wrap wrap">
      <a href="http://stephband.info" title="stephband" rel="index">
      	<h1 class="site_logo_thumb logo_thumb thumb">stephband.info</h1>
      </a>
      
      <ul class="horizontal site_nav_index nav_index index">
        <!--li><a href="http://stephband.info" class="nav_tab_button tab_button button">blog</a></li
       ><li><a href="http://webdev.stephband.info" class="nav_tab_button tab_button button">webdev</a></li
       --><li><a href="http://twitter.com/stephband" class="twitter_button button" rel="external">Twitter</a></li>
      </ul>
    </div>
  </header>

{{ content }}

	<script>
		var disqus_url = {{ page.disqus_url }};
	</script>