---
layout: site
css: [slide.layout.css, disqus.layout.css]
---
  {{ content }}
  
  <div class="slideshow_wrap site_wrap wrap">
    <div class="photo_wrap wrap photo_tab tab" id="<pop:slug/>">
      <img class="photo" src="<pop:photo.src resize='limit' width='960' height='540' />" alt="<pop:title />" />
    </div>
    
    <section class="large_photos_wrap photos_wrap wrap">
      <h1 class="photos_title"><pop:title/></h1>
      <ul class="horizontal large_photos_index photos_index index">
      <pop:entries><li>
          <a class="large_photo_thumb photo_thumb thumb"
             href="#<pop:slug/>"
             title="<pop:title/>"
             style="background-image: url(<pop:photo.src resize='fill' width='160' height='90'/>);"
             ><pop:title/></a>
        </li
       ></pop:entries>
      </ul>
    </section>
  </div>
  
  <div class="site_wrap wrap" id="disqus_thread"></div>